/draft/w3.css_resume.html
/draft/w3.css_portfolio.html
/draft/w3.css_cv.html
/draft/cv_fr.docx
/draft/font-awesome.min.css
/draft/w3.css
/draft/img/
/workftp - Raccourci.lnk
/nbproject/
/index.html